<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_InputCaptureWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://testvisce1:8080/bof2/services/InputCaptureWebService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InputCaptureWebService"
                contract="InputCaptureWebService.InputCaptureWebService" name="BasicHttpBinding_InputCaptureWebService" />
        </client>
    </system.serviceModel>
</configuration>